body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fef6e4;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

header {
    background-color: #f4a261;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logout {
    background-color: #f4a261;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.email-display {
    margin-top: 6px;
    font-size: 14px;
}

/* Сітка для карток */
main.grid {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Картка */
.card {
    background-color: #ffe0a3;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
}

/* Заголовок з іконкою по центру */
.card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
    margin-bottom: 16px;
}

.card .icon {
    font-size: 20px;
}

/* Кнопка всередині картки */
.card button {
    padding: 8px 14px;
    background-color: #f4a261;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background-color: #e76f51;
    color: white;
}
